<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    <section name="HighWayCharging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>

    <sectionGroup name="TimeInterval">
      <!-- 时间间隔 -->
      <section name="Interval" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>


    <sectionGroup name="Equipment">
      <!-- 设备状态 正常、异常、错误 -->
      <section name="EquipmentState" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    
  </configSections>



<!-- 用户设置 -->
 <userSettings>
   <HighWayCharging.Properties.Settings>
     <setting name="DBServer" serializeAs="String">
       <value>127.0.0.1</value>
     </setting>
     <setting name="UserName" serializeAs="String">
       <value />
     </setting>
     <setting name="PassWord" serializeAs="String">
       <value />
     </setting>
   </HighWayCharging.Properties.Settings>
 </userSettings>



  <TimeInterval>
    <Interval>
      <!--通行需求时间间隔-->
      <add key="DemandInterval" value = "10000"/>
      <!--车辆到达时间间隔-->
      <add key="QueryInterval" value = "1000"/>
      <!--设备异常时间间隔-->
      <add key="AbnormalInterval" value = "6000000"/>
    </Interval>
  </TimeInterval>

  <Equipment>
    <EquipmentState>
      <!--设备状态 0正常、1异常、2错误-->
      <add key="State" value = "异常"/>
    </EquipmentState>
  </Equipment>


</configuration>